.admin_panel_section {
    padding: 2rem 1rem;
}

.app_logo {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
        height: 4rem;
        margin-right: 1rem;
    }
}