.chatbox_section {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: var(--primary_color1);
    display: grid;
    // grid-template-columns: 19% 30% 49%;
    grid-template-columns: 20% 0.5fr 1fr;
    gap: 1rem;
    color: var(--text_color);
}

// .admin_panel {
//     background-color: #00000076;
// }

// .all_messages {
//     background-color: #00000076;
// }

// .message_box {
//     background-color: #00000076;
// }