.message_box_section {
    padding: 2rem 1rem;
    // overflow: auto;
}

.message_box_section_hr {
    height: 2px;
    border: none;
    margin: 1rem 0;
    background-color: var(--light_color);
    // background-color: red;
}