.pinned_section {
    color: white;
    p {
        display: flex;
        // justify-content: center;
        align-items: center;
        color: var(--light_color);
        font-size: 15px;
    }
}

.pinned_messages_list {
    margin: 15px 0;
}