.allMessages {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    padding: 7px 13px;
    background-color: var(--primary_color1);
    // background-color: rgba(0, 0, 255, 0.195);
    border-radius: 10px;
    margin: 3px 0;
    max-width: 24rem;
    // min-width: 6rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // min-width: 2rem;
  
    p {
      // font-size: 16px;
      line-height: 21px;
      display: flex;
      flex-direction: column;
      font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    }
  
    span {
        // position: relative;
        font-size: 12px;
        color: gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        align-self: flex-end;
      //   margin-top: -3px;
        margin-left: 5px;
    }
  }
  
  .left {
    align-self: flex-start;
  }
  
  .right {
    align-self: flex-end;
  }
  