.sender_messages_section {
    display: flex;
    flex-direction: column;
    // float: right;
    p {
        padding: 1rem;
        // display: block;
        background-color: var(--primary_color1);
    }
}